body {
    background-color: #262829;
    color: #5FBFE9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

img {
    width: 200px;
    padding: 15px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-nav {
    padding: 15px;
    text-align: flex-end;
}

.linkedin {
    width: 30px;
    height: 30px;
    padding: 10px;
}

.navBar {
    color: #5FBFE9;
    margin-left: -30px;
    width: 100%;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    padding: 15px;
    justify-content: space-between;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    justify-content: flex-start;
}

.footer {
    align-content: center;
    margin: auto;
    background-color: #444849;
    color: #CCEFFF;
}

.social {
    height: 45px;
    width: 45px;
}

.footerGrid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "footerLeft footerRight footerSocials"
}

.linksGrid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "Portfolio" "Resume" "About me" "Contact";
}

.footerLinks {
    width: 100%;
}

.footerLeft {
    border-right: 4px solid #CCEFFF;
    padding-right: 204px;
}